<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p> <%= "#{@requester.full_name}" \
                " has requested #{@vacation_request.kind} vacation" \
                " for #{@vacation_request.vacation_duration} days" \
                " from #{@vacation_request.start_date_to_s} " \
                "to #{@vacation_request.end_date_to_s}" %>
</p>
<%= link_to 'Accept', accept_approval_request_url(@approval_request) %>
<%= link_to 'Decline', decline_approval_request_url(@approval_request) %>
</body>
</html>
