<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p><%= "#{t('vacation_requests.confirm')} from #{@vacation_request.start_date_to_s}" \
" to #{@vacation_request.end_date_to_s}" %>
</p>
</body>
</html>
